<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLiteDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>
        <property name="hibernate.connection.url">
            jdbc:sqlite:application.db
        </property>
        <property name="show_sql">
            true
        </property>
        <property name="current_session_context_class">
            thread
        </property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Benutzer"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Unternehmen"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Rolle"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Spiel"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Wertpapier"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.WertpapierArt"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Periode"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Kurs"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.TransaktionsArt"/>
        <mapping class="de.dhbw.karlsruhe.model.jpa.Buchung"/>
    </session-factory>
</hibernate-configuration>